/* CSS HEADER*/

h2 {
    color: white;
}

img {
border-radius: 30%;
width: 15vw;
margin-left: 1vw;
}

.container_header{
    display: flex;
    margin-left:17%;

}
.container_icons{
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}
/*logout icon */
.fa-sign-out:before {
color: rgb(152, 28, 177);
}
/*search icon */

.btn-outline-success{
    border-color: blue;
}

.btn:not(:disabled):not(.disabled){
    color: rgb(174, 24, 204);
}

.btn-outline-success:not(:disabled):not(.disabled):active{
    background-color: blue;
}

.btn-outline-success:hover{
    background-color: rgb(5, 5, 148);
    border-color: #198754;
}

/* FIN CSS HEADER*/
/* CSS BODY*/

body{
    background-color: rgb(0, 0, 0);
}

.row {
    margin-top: 8vw;
    justify-content: center;
}

.case{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,51,161,1) 25%, rgba(255,60,231,1) 70%);
    border: 1px solid white;
    color: white;
    text-align: center;
    margin-top: 1vw;
}
.case a{
    text-decoration: none;
    color: white;
    
    font-weight: 800;
}
.case_favorite{
    border: 1px solid white;
    color: rgb(255, 255, 255);
    background-color: gold;
    text-align: center;
    margin-top: 1vw;
}
.case_favorite a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
}


/* FIN CSS BODY*/
/* CSS FOOTER*/

footer {
    background-color: grey; 
    margin-top: 5vw;
}

footer a {
    color: white;
}

footer a:hover {
color: white;
}
/* FIN CSS FOOTER*/