.jumbotron {
    background-color: orangered;
}

#registerlog {
   margin-top: 10%;
   margin-left: 25%; 
}

#register {
    filter: blur(0px);
    transform: scale(0.5);
    transition: all 0.3s ease-in-out 0.2s;
}

#register:hover {
    filter: blur(0px);
    transform: scale(1);
    transition: all 0.3S ease-in-out 0.1s;
}

#login {
    filter: blur(0px);
    transform: scale(0.5);
    transition: all 0.3s ease-in-out 0.2s;
}

#login:hover {
    filter: blur(0px);
    transform: scale(1);
    transition: all 0.3S ease-in-out 0.1s;
}


